@{
    ViewData["Title"] = "Index";
}

<header class="header">

    <img src="#" alt="logo">

    <p class="parrafo">Aguante las series!</p>

</header>

<div class="temporadas">

    @foreach (Series s in ViewBag.series)
    {
        <div class="card mb-3 ml-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="@s.ImagenSerie" class="img-fluid rounded-start" alt="@s.Nombre">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@s.Nombre</h5>
                <p class="card-text">@s.Sinopsis</p>
                <p class="card-text"><small class="text-body-secondary">@s.AñoIinicio</small></p>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal" onclick="mostrarModalActores(@s.IdSerie)">Actores</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal" onclick="mostrarModalTemporada(@s.IdSerie)">Temporadas</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal" onclick="mostrarModalSerie(@s.IdSerie)">Info</button>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="titulo">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="contenido">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    }
</div>